.carousel-item{
    height: 500px;
    font-family: 'Lobster', cursive;
}
.carousel-caption{
   color:blue ; 
   background-color: rgba(248, 248, 248, 0.767); 
}
nav{
    background-color: chartreuse;
    font-size: 1.3rem;
    font-family: 'Lobster', cursive;
}
.row{
    margin: 2rem 0 2rem 0;
}
p{
    font-family: 'Odibee Sans', cursive;
}
h2{
    font-family: 'Piedra', cursive;
}

body{
    background-image: url(1579201250_5-23.jpg);
    color: white;
}









